@media only screen and (max-width: 770px){
    .container {
        margin: 0px 30px;
        padding: 0px 0;
    }
    #header {
        padding-top: 0px;
    }

    .content-text {
        flex-basis: 100%;
        margin-top: 20px;
    }
    .content-img {
        flex-basis: 100%;
    }
    .content-text h1 {
        margin-top: 40px;
        font-size: 50px;
        line-height: 60px;
    }
    .content-text h2 {
        font-size: 33px;
        margin-bottom: 5px;
    }
    p {
        color: dimgray;
        margin-top: 5px;
        font-size: smaller;
    }
    .link-btn {
        margin-top: 35px;
        padding: 8px 26px;
    }
    .content-img {
        margin-top: 20px;
    }
    .content-text .title-1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #dream-big {
        padding-top: 20px;
        padding-bottom: 100px;
        margin-bottom: 134px;
    }

    .experience-items {
        width: 337px;
    }
    #web-dev-experience-1{
        margin-bottom: 50px;
    }
}