*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header{
    height: 100vh;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.content{
    margin: 0 100px;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}
.content-text{
    flex-basis: 50%;
    margin-top: 35px;
    padding-left: 100px;
}
.content-text h1{
    margin-top: 20px;
    font-size: 80px;
    line-height: 120px;
}
.content-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.content-text p{
    margin-top: 20px;
    color: dimgray;
}
.content-text span{
    color: orange;
}
.content-img{
    flex-basis: 50%;
    position: relative;
}
.content-img img{
    position: absolute;
    margin-right: 20px;
    padding-right: 20px;
    right: 0;
    top: 0;
    width: 80%;
    width: 600px;
}
.link-btn{
    display: inline-block;
    margin-top: 35px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: #fff;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}

/*-----Dream Big Section-------*/
#dream-big{
    background: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e6e6d8;
}
.left-col{
    flex-basis: 50%;
    padding-right: 100px;
}
.left-col img{
    width: 100%;
}
.right-col{
    flex-basis: 50%;
    padding: 100px 50px;
}
.right-col h2{
    font-size: 40px;
    margin-bottom: 40px;
    
}
.right-col h3{
    font-size: 20px;
    margin: 20px 0;
}
.right-col p{
    color: dimgray;
}