/*----default style------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-------landing section------*/

#header{
    height: 100vh;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.container{
    margin: 0 100px;
    padding: 50px 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
p{
    color: dimgray;
    margin-top: 20px;
}
.content-text{
    flex-basis: 50%;
    margin-top: 35px;
    padding: 150px 100px;
}
.content-text h1{
    margin-top: 20px;
    font-size: 80px;
    line-height: 120px;
}
.content-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.orange-color{
    color: orange;
}
.content-img{
    flex-basis: 50%;
}
.content-img .hero-img{
    width: 80%;
    right: 0;
}
/*----button----*/
.link-btn{
    display: inline-block;
    margin-top: 35px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: #fff;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}

/*-----Dream Big Section-------*/
#dream-big{
    background: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e6e6d8;
}
.content-img .big-img{
    width: 100%;
}
.content-text .title-1{
    font-size: 80px;
    margin-bottom: 40px;
    
}
.content-text .title-2{
    font-size: 20px;
    margin: 20px 0;
}
.content-text .para-1{
    color: dimgray;
}

/*----Experience Section----*/

#experience-area{
    margin-top: 100px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Ex-h1{
    font-size: 50px;
    margin-bottom: 100px;
}
.experience-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
.experience-items h1{
    font-size: 40px;
    padding-bottom: 5%;
}
.experience-items h3{
    font-size: 20px;
}

#web-dev-experience-1{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev-experience-2{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, red);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}