*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header{
    height: 100vh;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.content{
    width: 100%;
    display: flex;
}
.content-text{
    flex-basis: 50%;
    padding-right: 5%;
}
.content-text h1{
    margin-top: 50px;
    font-size: 50px;
    line-height: 120px;
}
.content-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.content-text p{
    margin-top: 20px;
}
.content-text span{
    color: orange;
}
.content-img{
    flex-basis: 50%;
    position: relative;
}
.content-img img{
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    padding-left: 5%;
}
.link-btn{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: #fff;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}